/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ---css reset added--- */


/* ---css style start--- */

body {
	margin: 0 auto;
}

h1 {
	font-size: 5.5em;
}

h2 {
	font-size: 4.5em;
	text-align: center;
}

h3 {
	font-size: 3.5em;
}

h4 {
	font-size: 2.5em;
}

h1,
h2,
h3,
h4,
h5,
nav ul li a {
	color: #27b5e4;
}

nav ul li {
	font-weight: bold;
	padding: 2em;
}

.btn {
	background-color: #27b5e4;
	border-radius: 20px;
	color: white;
	
}

a {
	text-decoration: none;
	color: white;
}

/* ---css style start--- */

.categories {
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin: 2em 0;
}

.categories img {
	width: 100%;
	z-index: -1;
	position: relative;
}

.categories a {
	text-decoration: none;
	color: white;
}

.design h3 {
	text-align: center;
	position: absolute;
	top: 27%;
	left: 25%;
	transform: translate(-50%, -50%);
}


.art h3 {
	text-align: center;
	position: absolute;
	top: 27%;
	left: 75%;
	transform: translate(-50%, -50%);
}

.photo h3 {
	text-align: center;
	position: absolute;
	top: 75%;
	left: 25%;
	transform: translate(-50%, -50%);
}

.fullportfolio {
	text-align: center;
}


/* -footer css- */

footer {
	text-align: center;
}

footer div {
	display: inline-block;

	margin: 2em 4em;
}

footer a,
footer p {
	color: #27b5e4;
}

.icons a {
	margin: 0 2em;
}

/* --about page-- */
.container {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	margin: 0 auto;
}

.container div {
	padding: 1em 0;
}

.container img {
	max-height: 500px;
	max-width: auto;
}


/* -- portfolio pg -- */

.portfoliobanner {
	width: 100%;
}

.accordion-body {
	text-align: center;
}


/* -- contact pg -- */

.form {
	padding: 2em;
	width: 100%;
	align-content: center;
}

.form h3{
	margin-bottom: 1em;
}

.contact input {
	display: block;
	min-width: 100%;
	margin: 1em 0 1em;
}

.contact textarea {
	display: block;
	min-width: 100%;
	min-height: 10em;
	margin: 1em 0 2em 0;
}

.contact h3 {
	font-weight: bold;
	font-size: 2em;
}

.form p {
	max-width: 40em;
	text-align: center;
	margin: 1em auto 0 auto;
	width: 100%;
}


/* -- styles -- */

@media screen and (min-width:800px) {

	html {
		font-size: 16px;
	}

	.selfportrait {
		float: left;
	}

	.about h2 {
		text-align: left;
		margin-left: 250px;
	}

	.about p {
		text-align: left;
		margin-left: 250px;
	}

	.about {
		text-align: center;
		margin-bottom: 10em;
	}

	.categories {
		position: relative;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		max-height: 40em;
		margin: 2em 0;
	}

	.categories img {
		width: 100%;
		z-index: -1;
		position: relative;
	}

	.categories a {
		text-decoration: none;
		color: black;
	}

	.design h3 {
		text-align: center;
		position: absolute;
		top: -5%;
		left: 12%;
		transform: translate(-50%, -50%);
	}

	.art h3 {
		text-align: center;
		position: absolute;
		top: -5%;
		left: 37%;
		transform: translate(-50%, -50%);
	}

	.photo h3 {
		text-align: center;
		position: absolute;
		top: -5%;
		left: 63%;
		transform: translate(-50%, -50%);
	}

	


	.container {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(4, 1fr);
		grid-template-areas:
			"image header header"
			"image text text"
			"image text text"
			"image text text"
	}

	.container img {
		max-height: 100%;
		max-width: auto;
	}

	.container h2 {
		text-align: left;
		padding: 0 1em;
	}

	.container p {
		text-align: left;
		padding: 0 1em;
		line-height: 1.4em;
	}

	.aboutimg {
		grid-area: image;
	}

	.aboutheader {
		grid-area: header;
	}

	.abouttext {
		grid-area: text;
	}
}
